.start-button{
    text-align: center;
    margin-top: 40px;
}
button{
    font-size: 28px;
}
.grids-cols{
    width: 40px;
    height: 40px;
    margin: 5px 5px;
    background: blue;
    border-radius: 4px;
}
.rowContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    float: left;
    background: rgb(226, 226, 213);
    justify-content: space-around;
    margin: auto 10%;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.changeToBlue{
    background-color: blue;
    /* transition-delay: 1s; */
}