.grids-cols{
    width: 40px;
    height: 40px;
    margin: 5px 5px;
    background: blue;
}
.rowContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    float: left;
    background: yellow;
    justify-content: space-around;
    margin: auto 10%;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.changeToRed{
    background-color: red;
}